/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #028dd8;
$accentColor: #028dd8;
$forToolbar: $corporate_color;
$forFooter: #fff;

:root {
	--section: 80px;
	--block: 40px;
}
