/** @format */
$corporate_color: #0085e5;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #0085e5;
$accentColor: #0085e5;

:root {
	--section: 60px;
	--block: 40px;
}
