<!-- @format -->
include ./miksins.pug

//! события надо менять в ручную

html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h1 Благодарим за ваш интерес!
								.offer
									img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317655/content_group_1000001923.png")
									p Заявка на бесплатную персональную консультацию зафиксирована. Оставьте номер телефона, по которому специалист Пульса цен может вам позвонить.
									+button('Оставить номер телефона', 'Оставить номер телефона' ,"section-buttonAccent")
									p.pc Пульс цен - это сервис управления В2В-продажами и покупками, с возможностью создавать полноценное онлайн представительство и продвигать свой бизнес в интернете.

									
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317655/content_group_1000001923.png")
		include ./modules/footer.pug
	p {crm_analytics:show_page(network_actions,НК_РБ_Deal.by_Консультация_070422)}
