/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #f4bc4d;
$accent: linear-gradient(270.52deg, #0085e5 -5.33%, #6d64ff 114.46%);
$accentColor: #6d64ff;

:root {
	--section: 80px;
	--block: 40px;
}
