/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #ffbf47;
$accentColor: #ffce4f;
$forToolbar: #fff;
$forFooter: #fff;

:root {
	--section_h2: 60px;
	--section: 120px;
	--block: 40px;
}
