<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h1 Благодарим за ваш интерес!
								.offer
									img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317474/content_group_1131.png")
									p Для предпринимателей, которые продают через площадку  Deal.by действует специально предложение: скидка 40% на размещение своих товаров и услуг на Пульсе цен.
									.list 
										.list__heading.fat Что входит в размещение:
										.list__li продающий сайт с тематическим дизайном, работает сразу;
										.list__li размещение товаров и услуг в подходящих рубриках каталога;
										.list__li стабильный трафик целевых клиентов;
										.list__li техподдержка на весь период размещения;
										.list__li возможность продвигать товары и услуги в поисковиках или на самом портале Пульс цен.
									p Для предпринимателей, которые продают через площадку  Deal.by действует специально предложение: скидка 40% на размещение своих товаров и услуг на Пульсе цен.
									.list 
										.list__heading.fat Чтобы  подготовиться к переходу на Пульс цен и в короткие сроки запустить здесь продажи, рекомендуем::
										.list__li сохранить данные о товарах и другую информацию с сайтов на Deal.by;
										.list__li сделать выгрузку ваших товаров и клиентов.
									+button('Заказать персональную консультацию', 'Заказать персональную консультацию' ,"section-buttonAccent")
									
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317474/content_group_1131.png")
		include ./modules/footer.pug
	p {crm_analytics:show_page(network_actions,НК_РБ_Deal.by_Спец.предложение_070422)}
