.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='seifKraft')
        .modal-block
            .modal-content.seifKraft 
                p.section_h2 Кейс компании «СейфКрафт»
                .popap_infoCompany    
                    p Производство и продажа бронированных конструкций: дверей, окон, стекол в Краснодаре и ЮФО.
                .modal__task
                    .section_h3 Задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Продвижение товаров компании на весь Южный федеральный округ.
                        .block__item 
                            .item__icon 2
                            p Охват целевой аудитории и увеличение трафика из Яндекса на сайт.
                .modal__solution 
                    .section_h3 Решение:
                    .solution__p Сложная продукция и специфический рынок требуют особого подхода. Принято решение запустить контекстную рекламу на поиске Яндекса на регион ЮФО в рамках услуги «Турбопоиск». Подготовить посадочные страницы для рекламной кампании.
                .modal__result 
                    .section_h3 Результаты:
                    .offer
                        p Уже 3-ий год с помощью услуги «Турбопоиск» компания «СейфКрафт» получает стабильно высокий результат и новых клиентов с поиска Яндекса.
                        p Охват целевой аудитории на поиске и показ объявлений в блоке спецразмещения на 1-2-3 месте обеспечил приток на сайт заинтересованных покупателей.
                    .result__info.info 
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/331939/content_image_13_2x.png", alt="")
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/331940/content_image_14.png", alt="")
                    .result__info.info 
                        div 
                            .info__subtitle  #[span.hint(data-hint= ' РСЯ - это рекламная сеть Яндекса, которая включает более 1000 популярных сайтов.') Текстово-графическое объявление дополнительно показывается в  ] #[span.accent РСЯ]  посетителям, которые уже посещали сайт компании и проявляли интерес к ее товарам.
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332348/content_image_15.png", alt="" style='max-width: 390px')
                    .result__info.info 
                        div.blockBlueSmall 
                            .info__subtitle #[span.fat  За 1 месяц ] Турбопоиск обеспечил   #[span.info__result_accent 212 ]   переходов на сайт. Из них:
                            .info__number 
                                p #[span.accent.fat 105 ] переходов с поиска
                                p #[span.accent.fat 107 ] переходов из рекламной сети Яндекса (#[span РСЯ])
                                p.vrednostiTop #[span.accent.fat 698 ] показов объявлений на поиске Яндекса по ЮФО
                                p #[span.accent.fat 2,2 ] средняя позиция показа
                                p #[span.accent.fat 15% ] CTR
                                p #[span.accent.fat 66.5% ] доля переходов от всего  потенциального трафика с поиска по оценке Яндекса
                            //- .info__line
                            //- .info__note *рост показателей рассчитан по среднему значению периода работы рекламы по отношению к периоду без рекламы.
                        div.blockBlueSmall 
                            .info__title.fat Компания «СейфКрафт» подключила Турбопоиск в январе 2020 года и уже 3-й год получает стабильно высокий трафик.
                            .info__block 
                                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332787/content_group_1000002110.png", alt="")
                            p.info__subtitle * Показатели рассчитаны по среднему значению за год.
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Обратитесь к своему менеджеру, он (она) расскажет подробнее о возможностях и условиях подключения Турбопоиска.
                    +button('{crm_analytics:click_link(Заказать консультацию,#cases,want_orders,МР_Турбопоиск_Консультация)}', 'Заказать консультацию', 'section-button')

                
