<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "article smart-serch"
	body.js-body
		.main_page
			.toolbr
				.main_content
					.content
						a(href="https://pulscen.ru/" target="_blank")
							img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/183694/content_content_logo-pc_2.png", alt="") 
			.main_content
				
				.blue__block
				
				.header
					.content.content-header
						.header__wrapper
							.header__text
								.header__heading.section_h2 СМАРТпоиск — новейший комплекс продвижения
								img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298335/content_oblozhka.png")
								.offer
									p 2 канала продвижения. Только заинтересованные клиенты. 
								.list
									.list__heading Сила комплекса в стратегии. Она включает:
									.list__li анализ потребительских интересов человека (что покупает);
									.list__li анализ его пользовательских характеристик в интернете (на что обращает внимание);
									.list__li формирование истинно целевого сегмента для показа рекламы (только заинтересованные клиенты).
									p Такой подход обеспечивает максимальное внимание к вашим товарам.
								.header__btns
									+buttonEvent("{crm_analytics:click_link(Читать дальше,#complex,want_orders,МР_СмартПоиск_подробнее)}", "Читать дальше", "section-buttonAccent")
									+button("{crm_analytics:click_link(Прослушать консультацию,#order,want_orders,МР_СмартПоиск_Консультация)}", "Прослушать консультацию", "section-button")
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298335/content_oblozhka.png")
				.complex#complex
					.content 
						.section_h3 Комплекс эффективных технологий
						.complex__subtitle Привлечение клиентов на высшем уровне.
						.complex__info Комплекс СМАРТпоиск основан на двух типах продвижения: контекстная реклама в поисковой выдаче Яндекса и технологии Смарт-баннера.
						.complex__about 
							.about__item
								.item__heading.section_h4 Контекстная реклама на поиске
								.item__offer 
									p Обеспечивает показ товаров на первой странице Яндекса. Пользователь вводит запрос и в числе первых ответов видит ваше предложение 
									p Объявление гармонично вписано в общий результат выдачи, не раздражает глаз «рекламностью», но при этом находится в ТОПе.
							.about__item
								.item__heading.section_h4 Смарт-баннер
								.item__offer 
									p Подстраивает формат объявления под каждого покупателя. У Яндекса много информации о каждом пользователе. Он знает, что привлекает их внимание.

									p Яркая картинка или карусель из фотографий товаров – смарт-баннер умеет быть разным. Показывается на 1000+ популярных сайтах. 
						.block__light-blue Люди делятся на тех, кто больше доверяет тексту и тех, кто более восприимчив к картинкам. </br> С комплексом СМАРТпоиск вы охватываете всех:
						.complex__people 
							.people__item 
								img.people__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298336/content_vector_4.png", alt="")
								.item__block 
									.item__heading.section_h4 читателей
									.item__icons 
										img.icon__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298341/content_union.png", alt="")
										img.icon__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298340/content_group_388.png", alt="")
										img.icon__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298339/content_frame_4.png", alt="")
									img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298830/content_poiskovik.png", alt="")
									.list
										.list__heading Преимущества:
										.list__li_circle Гарантирована 1ая страница в Яндексе
										.list__li_circle Быстрый отклик пользователей
										.list__li_circle Содержит всю информацию для обращения покупателей
										.list__li_circle Простой и действенный инструмент. Эффективность проверена временем и тысячами компаний
							.people__item 
								img.people__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298337/content_vector_5.png", alt="")
								.item__block 
									.item__heading.section_h4 визуалов
									.item__icons 
										img.icon__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298341/content_union.png", alt="")
										img.icon__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298340/content_group_388.png", alt="")
										img.icon__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298342/content_frame_5.png", alt="")
									img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/298831/content_bannery.png", alt="")
									.list
										.list__heading Преимущества:
										.list__li_circle Содержит всю важную информацию о товаре
										.list__li_circle В одном баннере можно показать много товаров
										.list__li_circle Контент обновляется автоматически, поэтому объявление всегда актуально
										.list__li_circle Новейший инструмент на супер-умных технологиях Яндекса
				.smart 
						.content 
							.section_h4 Один комплекс СМАРТпоиск решает все основные маркетинговые задачи:	
							.smart__items 
								+item_article("https://www.pulscen.ru/system/ckeditor_assets/pictures/298344/content_frame_6.png", "Усиление продаж в любой сезон")
								+item_article("https://www.pulscen.ru/system/ckeditor_assets/pictures/298345/content_frame_7.png", "Быстрое привлечение новых клиентов и возврат покупателей")
								+item_article("https://www.pulscen.ru/system/ckeditor_assets/pictures/298346/content_frame_8.png", "Перехват заявок, которые могут уйти к конкурентам")
								+item_article("https://www.pulscen.ru/system/ckeditor_assets/pictures/298347/content_frame_9.png", "Увеличение трафика на ваши товары")
								+item_article("https://www.pulscen.ru/system/ckeditor_assets/pictures/298348/content_group_1064.png", "Повышение узнаваемости и лояльности покупателей")
							.smart__offer 
								p Больше не нужно выбирать инструмент для каждого типа продвижения. Комплекс СМАРТпоиск объединил проверенные годами технологии и новейшие разработки Яндекса - максимальная эффективность рекламной кампании.
								p Что нужно для запуска СМАРТпоиска? Просто обратитесь к своему менеджеру Пульса цен, он (она) всё подробнообъяснит и подключит вам специалиста для настройки рекламной кампании под ключ.
							+button("{crm_analytics:click_link(Заказать консультацию по СМАРТпоиску,#order,want_orders,МР_СмартПоиск_Консультация)}", "Заказать консультацию по СМАРТпоиску", "section-buttonAccent")
				.footer 
					.content
						.footer__wrapper 
							.footer__item-left
								p.footer__item-left__text Подключить услугу «Дилер — Дистрибьютор» и задать вопросы вы можете по тел. 8 800 100 91 91 или заказав обратный звонок.
								+button("{crm_analytics:click_link(Заказать консультацию специалиста,#order,want_orders,МР_СмартПоиск_Консультация)}", "Заказать консультацию специалиста", "section-buttonAccent")
							.footer__item-right
								.contact
									.contact__by
									.contact__main.col_cintact_futer
										.massenger_futer
											img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/187673/content_ph.png")
											a(href="tel:88001009191").numder_futer.phone-js +7 (800) 234 43-10
										.note_futer - бесплатно на территории 
											span.phoneNote-js РФ
									.contact__main.col_cintact_futer
										.massenger_futer
											img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/187672/content_mes.png")
											a(href="tel:79292690013").numder_futer +7 929 269 00 13
										.note_futer - WhatsApp или Viber
									+button(cell, "Позвоните мне", "section-buttonFooter" )
								.agreement
									a(href="https://ekb.pulscen.ru/about/terms")
										p.text_futter Пользовательское соглашение
									a(href="https://ekb.pulscen.ru/about/privacy")
										p.text_futter Политика конфиденциальности				
				.block_gey
								
										


		//- include ./modules/footer.pug
	p {crm_analytics:show_page(want_orders,МР_СмартПоиск)}
