.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='starcom')
        .modal-block
            .modal-content.seifKraft 
                p.section_h2 Кейс компании «Старком», г. Санкт-Петербург
                .popap_infoCompany    
                    p Продажа бордюров и щебня.
                .modal__task
                    .section_h3 Задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Привлечение новых клиентов с поиска Яндекса.
                        .block__item 
                            .item__icon 2
                            p Продвижение товарных групп на высококонкурентном рынке #[span в Санкт-Петербурге и Ленинградской области.]

                .modal__solution 
                    .section_h3 Решение:
                    .solution__p Принято решение запустить контекстную рекламу на поиске Яндекса в рамках услуги «Турбопоиск» с подготовкой посадочных страниц для рекламной кампании и аналитикой результатов. У компании широкий ассортимент – 1 375 товарных позиций в каталоге. Было решено запустить рекламную кампанию по 2-м приоритетным направлениям «Бордюры» и «Щебень» – это 128 позиций из 1375.


                    .solution__block
                        div
                            p.block__p Рекламная кампания по бордюрам:
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332774/content_group_1000002147.png", alt="")
                        div
                            p.block__p Рекламная кампания по щебню:
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332773/content_group_1000002148.png", alt="")

                .modal__result 
                    .section_h3 Результаты:
                    .result__info.info 
                        p Более 2,5 лет с помощью услуги «Турбопоиск» компания «Старком» получает высокий результат и новых клиентов с поиска Яндекса.
                    .result__info.info 
                        div.blockBlueSmall 
                            .info__title.fat  
                            .info__subtitle #[span.fat  За 2 месяца ] Турбопоиск обеспечил  #[span.info__result_accent 1 112 ]   переходов. Из них:
                            .info__number 
                                p #[span.accent.fat 961 ] переходов с поиска
                                p #[span.accent.fat 151 ]  переходов из рекламной сети Яндекса (#[span РСЯ])
                            .info__subtitle Таким образом, продвижение всего 128 (9%) товарных позиций дало почти 22% от всего трафика на сайте за этот период.
                            
                            //- .info__line
                            //- .info__note *рост показателей рассчитан по среднему значению периода работы рекламы по отношению к периоду без рекламы.
                        div.blockBlueSmall 
                            .info__title.fat Структура трафика
                            .info__subtitle_colorOrang Рекламный трафик - 21,8%
                            .info__subtitle_colorBlue Остальные источники (поисковые системы, ссылки на других сайтах и т.д.) - 78,2%
                            img.vrednostiTop(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332781/content_frame_1000002148.png", alt="" style='max-width:406px')
                    .result__info.info 
                        div.blockBlueSmall 
                            .info__title.fat Рекламная кампания по бордюрам:
                            .info__number 
                                p #[span.accent.fat 2 263 ] показа объявлений на поиске Яндекс по Санкт-Петербургу и Ленинградской области
                                p #[span.accent.fat 2,5 ]  средняя позиция показа
                                p #[span.accent.fat 292 ]  перехода на сайт с поиска
                                p #[span.accent.fat 12,9% ]  СТR
                                p #[span.accent.fat 68% ]  доля переходов от всего потенциального трафика с поиска по оценке Яндекса
                        div.blockBlueSmall 
                            .info__title.fat Рекламная кампания по щебню:
                            .info__number 
                                p #[span.accent.fat 6 714 ] показов объявлений на поиске Яндекс по Санкт-Петербургу и Ленинградской области

                                p #[span.accent.fat 4,1 ]  средняя позиция показа
                                p #[span.accent.fat 669 ]  переходов на сайт с поиска
                                p #[span.accent.fat 10, 1 % ]  СТR
                                p #[span.accent.fat 41,9% ]  доля переходов от всего потенциального трафика с поиска по оценке Яндекса
                    .result__info.info 
                        div.blockBlueSmall 
                            .info__block.blockBlueSmall
                                div.blockBlueSmall__grid
                                    p.fat Просмотры товаров:
                                    img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332010/content_group_1000002149.png", alt="")
                                div.blockBlueSmall__grid
                                    p.fat Посетители сайта:
                                    img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332033/content_frame_1000002150.png", alt="")
                            .info__note *По данным за апрель 2022 г. в сравнении с февралем 2022 г.
                        div.blockBlueSmall 
                            .info__block.blockBlueSmall 
                                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/331946/content_group_1000002110.png", alt="" style="max-width: 500px")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Обратитесь к своему менеджеру, он (она) расскажет подробнее о возможностях и условиях подключения Турбопоиска.
                    +button('{crm_analytics:click_link(Заказать консультацию,#cases,want_orders,МР_Турбопоиск_Консультация)}', 'Заказать консультацию', 'section-button')

                
