<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "Пока одни ждут, другие продают"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h2 Зафиксирован высокий рост трафика и заказов на Пульсе цен
								img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/320669/content_frame_1000001929.png")
								.offer
									p Рынок меняется. Импортные товары уходят, освобождая целые ниши отечественным производителям. Спрос в разы превышает предложения.
									p Сейчас самое подходящее время для продаж на Пульсе цен. Площадка продолжает работать на развитие вашего бизнеса и обслуживать клиентов в обычном режиме. Продажи показывают рекордный рост. В марте спрос на некоторые товары вырос в 2 раза.
									
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/320669/content_frame_1000001929.png")
			section.sectionWrapper.padBottomSection.padTopSection.block_white
				.content
					.sectionWrapperBlock 
						.sectionWrapper__block.sectionWrapper__block_left#2 
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/320915/content_frame_1000001931.png", alt="")
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317878/content_tablitsa_513_-_159.png", alt="")
								.item__img
							.block__item 
								p.section_h2 Общий трафик вырос на 38%
								.sectionWrapper__offer 
									p В марте количество посетителей на Пульсе цен #[b выросло на 38%] по сравнению с февралем 2022 года (по данным Top.Mail.ru). Более того, в марте этого года на площадке почти на 1,5 млн больше посетителей, чем было в марте 2021 года. 

			section.sectionWrapper.padBottomSection.padTopSection.block_blue
				.content
					.sectionWrapperBlock 
						.sectionWrapper__block#2 
							
							.block__item 
								p.section_h2 Рост спроса в рубриках площадки
								.sectionWrapper__offer 
									p Ощутимо вырос спрос на товары в рубриках Пульса цен (по данным Top.Mail.ru, количество просмотров за март по сравнению с февралем 2022). Покупатели готовы покупать. Кто на этом заработает? Компании, которые позаботятся о том, чтобы клиенты увидели их товары.
								+button('Узнать подробнее', '{crm_analytics:click_link(Узнать подробнее,#order,network_actions,НК_РФ_Цифры_Консультация)}', "section-buttonAccent")
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/320916/content_infograf.png", alt="").item__img
			
			section.sectionWrapper.padBottomSection.padTopSection.block_white
				.content
					.sectionWrapperBlock 
						.sectionWrapper__block.sectionWrapper__block_left#2 
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/320917/content_group_1000001949.png", alt="").item__img
							.block__item 
								p.section_h2 Рост количества заказов
								.sectionWrapper__offer 
									p В марте компании на приоритетном размещении получили с Пульса цен #[b 1 173 161 обращение от покупателей] (включая заказы на сайте, сообщения, просмотры контактов, заказы через звонок). Это  #[b на 70% больше], чем в феврале 2022 года.
			
			section.sectionWrapper.padBottomSection.padTopSection.block_blue
				.content
					.sectionWrapperBlock 
						.sectionWrapper__block#2 
							
							.block__item 
								p.section_h2 Рост заявок на закупку
								.sectionWrapper__offer 
									p Для покупателей это возможность не искать товар единично, а составить перечень на закупку и сравнить предложения от поставщиков. Продавцы получают готовые заказы без долгих поисков.
									p В марте количество горячих заявок в сервисе “Закупки” #[b выросло на 103%]  (по сравнению с февралем 2022).
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/320944/content_telegram-cloud-photo-size-2-5388983238699105237-x_1.png", alt="").item__img
							
						
			section#lids.sectionWrapper.padTopSection.block_white
				.content 
					//- .sectionWrapper__heading.section_h2 Обрабатывайте все лиды в одном месте
					.sectionWrapper__offer.sectionWrapper__offer_end 
						p Оберните ситуацию в свою пользу, не упускайте такой шанс! Время укрепить бизнес и получить клиентов и заявки с Пульса цен. 
						p Сейчас  действуют специальные условия на подключение. Закажите бесплатную консультацию, специалист Пульса цен перезвонит и расскажет про спецпредложения.
					+button('Заказать консультацию', '{crm_analytics:click_link(Заказать консультацию,#order,network_actions,НК_РФ_Цифры_Консультация)}', "section-buttonAccent")
		include ./modules/footer.pug
	p.fff {crm_analytics:show_page(network_actions,НК_РФ_Цифры_curData)}
