/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #001f4d;
$color_white: #fff;
$accentF: #8a85db;
$accent: #47fcff;
$accentColor: #47fcff;

:root {
	--section: 80px;
	--block: 40px;
}
