<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "поддержка мр"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h1 Поможем расширить географию продаж
								.offer
									img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/318388/content_mask_group.png")
									p Сейчас у отечественных предпринимателей есть уникальная возможность забрать себе часть рынка. Воспользуйтесь этим с помощью инструментов для охвата рынка.
									+buttonLink('{crm_analytics:click_link(Смотреть инструменты охвата рынка,#show,want_orders,МР_Меры_поддержки_инструменты)}', 'Смотреть инструменты охвата рынка', "section-buttonAccent ", 'show')
									
								
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/318387/content_ill.png")
				section.cluster#show
					.content 
						p.section_h1 Витрина на регион или Всю Россию
						.sectionOffer
							p В апреле на специальных условиях.
							p Региональные витрины — это эффективный способ выделить свое предложение из массы конкурентов. Витрины органично вписаны в страницы каталога и не выглядят как реклама. Идеальный механизм действия — не раздражает глаз, но привлекает внимание.
							p Разместите Витрину со своими товарами на любой из площадок 8 региональных кластеров или сразу на всю Россию.
					.claster
						.claster_item
							#button6.button.item__btn(rel='popup1')
								p.heading.button(rel='popup1')
									| {crm_analytics:click_link(Дальний Восток,#klaster,want_orders,МР_Меры_поддержки_витрина_ДВ)}
								p.subtitle.button(rel='popup1')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_ДВ)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup1')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.Vostok
						.claster_item
							#button2.button.item__btn(rel='popup2')
								p.heading.button(rel='popup2')
									| {crm_analytics:click_link(Поволжье,#klaster,want_orders,МР_Меры_поддержки_витрина_Поволжье)}
								p.subtitle.button(rel='popup2')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_Поволжье)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup2')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.Povolzie
						.claster_item
							#button1.button.item__btn(rel='popuр3')
								p.heading.button(rel='popup3') {crm_analytics:click_link(Приуралье,#klaster,want_orders,МР_Меры_поддержки_витрина_Приуралье)} 
								p.subtitle.button(rel='popup3')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_Приуралье)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup3')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.priyralie
						.claster_item
							#button9.button.item__btn(rel='popup4')
								p.heading.button(rel='popup4')
									| {crm_analytics:click_link(Северо-Западный ,#klaster,want_orders,МР_Меры_поддержки_витрина_СЗ)}
								p.subtitle.button(rel='popup4')
									| {crm_analytics:click_link(состав городов ,#klaster,want_orders,МР_Меры_поддержки_витрина_СЗ)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup4')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.Severo_Zapad
						.claster_item
							#button3.button.item__btn(rel='popup5')
								p.heading.button(rel='popup5') {crm_analytics:click_link(Урал,#klaster,want_orders,МР_Меры_поддержки_витрина_Урал)}
								p.subtitle.button(rel='popup5')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_Урал)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup5')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.ural
						.claster_item
							#button3.button.item__btn(rel='popup6')
								p.heading.button(rel='popup6') {crm_analytics:click_link(Центр,#klaster,want_orders,МР_Меры_поддержки_витрина_ЦФО)}
								p.subtitle.button(rel='popup6')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_ЦФО)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup6')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.FCO
						.claster_item
							#button3.button.item__btn(rel='popup7')
								p.heading.button(rel='popup7') {crm_analytics:click_link(Юг + Крым,#klaster,want_orders,МР_Меры_поддержки_витрина_Юг+Крым)}
								p.subtitle.button(rel='popup7')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_Юг+Крым)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup7')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.ug_Krim
						.claster_item
							#button10.button.item__btn(rel='popup8')
								p.heading.button(rel='popup8')
									| {crm_analytics:click_link(Сибирь,#klaster,want_orders,МР_Меры_поддержки_витрина_Сибирь)}
								p.subtitle.button(rel='popup8')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_Сибирь)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup8')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.Sibir
						.claster_item.claster_itemEnd
							#button10.button.item__btn(rel='popup9')
								p.heading.button(rel='popup9')
									| {crm_analytics:click_link(Вся Россия,#klaster,want_orders,МР_Меры_поддержки_витрина_ВсяРФ)}
								p.subtitle.button(rel='popup9')
									| {crm_analytics:click_link(состав городов,#klaster,want_orders,МР_Меры_поддержки_витрина_ВсяРФ)}
							.modal-wrapper
								.modal-wrapper-block(data-popup='popup9')
									.modal-block
										img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png' alt='')
										.claster__city.All
				section.working
					.content 
						.list__heading.fat Работает на:
						.list
							.list__li усиление продаж группы товаров
							.list__li мгновенное оповещение о скидках и акциях
							.list__li быстрый старт региональных продаж
							.list__li привлечение новых покупателей
							.list__li продвижение уникальных преимуществ вашей продукции  
						.sectionOffer
							p Расскажите о своем предложении региональному или федеральному рынку и получайте максимум клиентов.
							p Специальные условия на региональные витрины действуют в апреле 2022. Подробнее об услуге и результатах расскажет ваш менеджер.  Закажите консультацию, нажав кнопку «Узнать подробнее о витринах».
							+button('{crm_analytics:click_link(Узнать подробнее о витринах,#order,want_orders,МР_Меры_поддержки_кнопка_Витрина)}', 'Узнать подробнее о витринах', "section-buttonAccent")
						.banners 
							.banners__title.section_h2 Рекламные формы (баннеры)
							.sectionOffer
								p В апреле на специальных условиях.
								p Баннеры с рекламой вашего товара на Пульсе цен. Могут быть с анимацией, видео или статичными. В зависимости от задач и формата ваше предложение увидит узкая часть аудитории или все посетители Пульса цен. 
							.banners__block 
								.block__title.fat Форматы баннеров на Пульсе цен
								.block__item 
									.item.wow.fadeInLeft( data-wow-delay="0.5s")
										p.fat.section_h4 Небоскреб
										p Самый крупный баннер. Показывается на всех страницах рубрики, всегда на 1-ом экране.
										img.item__img(src="https://cdn.stpulscen.ru/assets/banners/banner_neboskreb-b04d82eb48db4bcd870d6b7366cba65e.png", alt="")
										p На всех страницах рубрики, всегда в 1ом экране. Самый крупный баннер на странице!
									.item.wow.fadeInUp( data-wow-delay="1s")
										p.fat.section_h4 Транспарант
										p Самый верхний баннер. Показывается на всех страницах рубрики и в товарах других поставщиков.
										img.item__img(src="https://cdn.stpulscen.ru/assets/banners/banner_transparant-eb730bc58b4c89039de4862c77817b0a.png", alt="")
										p На всех страницах рубрики и в товарах других поставщиков. Будете выше всех!
									.item.wow.fadeInRight( data-wow-delay="0.5s")
										p.fat.section_h4 Центральный
										p  Единственный баннер в каталоге. Показ на всех страницах рубрики после 5-го товара.
										img.item__img(src="https://cdn.stpulscen.ru/assets/banners/banner_centre-d533b25fa10eb5e2c8a5969dc8fa24d9.png", alt="")
										p  На всех страницах рубрики после 5-го товара. Единственный баннер среди товаров!
							.banners__task 
								.task__block.wow.bounceInRight( data-wow-delay="0.5s")
									p.block__title.section_h3 Решают задачи:
									.list
										.list__li усиления продаж определенной группы товаров;
										.list__li максимального контакта с целевой аудиторией;
										.list__li  выделения своего предложения на фоне конкурентов;
										.list__li повышения узнаваемости торговой марки;
										.list__li выведения на рынок нового продукта.
								.task__img 
									img.wow.pulse(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/318386/content_vssv.png", alt="")
				section.info 
					.content 
						.sectionOffer
							p Максимальное привлечение целевой аудитории.	
							p Специальные условия на баннеры действуют в апреле 2022. Подробнее об услуге и результатах расскажет ваш менеджер.  Закажите консультацию, нажав кнопку «Узнать подробнее о баннерах». 	
							+button('{crm_analytics:click_link(Узнать подробнее о баннерах,#order,want_orders,МР_Меры_поддержки_кнопка_Баннер)}', 'Узнать подробнее о баннерах', "section-buttonAccent")
						.info__traffic
							p.section_h2 Баннеры по остаточному трафику на всю Россию
							.sectionOffer
								p В апреле на специальных условиях.	
								p Остаточный трафик — это размещение вашего объявления на все свободные баннерные места по всей России.
								p Услуга включает все перечисленные рекламные формы: витрина, транспарант, небоскреб и центральный. 
							.list
								.list__title.section_h4.fat Решает задачи:
								.list__li.wow.fadeInLeft усиления продаж определенной группы товаров;
								.list__li.wow.fadeInLeft максимального контакта с целевой аудиторией;
								.list__li.wow.fadeInLeft выделения своего предложения на фоне конкурентов;
								.list__li.wow.fadeInLeft быстрый вывод на рынок нового продукта;
								.list__li.wow.fadeInLeft оптимизация рекламного бюджета при использовании нескольких форматов.  	
								
							.sectionOffer
								p Специальные условия на остаточный трафик действуют в апреле 2022. Подробнее об услуге и результатах расскажет ваш менеджер. Закажите консультацию, нажав кнопку «Узнать подробнее про остаточный трафик».	
								+button('{crm_analytics:click_link(Узнать подробнее про остаточный трафик,#order,want_orders,МР_Меры_поддержки_кнопка_Остаточный_трафик)}', 'Узнать подробнее про остаточный трафик', "section-buttonAccent")
							

		include ./modules/footer.pug
	p {crm_analytics:show_page(want_orders,МР_Меры_поддержки)}
