/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #ffc657;
$accentColor: #ffc657;
$forToolbar: $main_text_color;
$forFooter: #ffffff;

:root {
	--section_h1: 104px;
	--section: 80px;
	--block: 40px;
}
