<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "Больше клиентов из других городов"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h1 Линейка тарифа «СТАРТ»
								.offer
									img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332893/content_povyshenie-tarif_start.png")
									

									p До 30 июня вы можете приобрести/продлить по старой цене пакеты размещения:

									.info__tariff 
										.tariff__item «СТАРТ.Серебро»
											.item__info 
												.list
													.list__li До 1000 товаров в каталог
													.list__li Доступ к готовым заявкам
													.list__li Размещение в каталоге выше пакета «Базовый»
													.list__li Помощь в загрузке и оформлении товаров
													.list__li Модули онлайн-оплаты и доставки
													.list__li SSL-сертификат
										.tariff__item «СТАРТ.Золото»
											.item__info 
												.list
													.list__li До 3000 товаров в каталог
													.list__li Доступ к готовым заявкам
													.list__li Ваши товары в каталоге будут выше  товаров компаний на тарифах «Старт.Серебро» и «Базовый»
													.list__li Помощь в загрузке и оформлении товаров
													.list__li Модули онлайн-оплаты и доставки
													.list__li SSL-сертификат
										.tariff__item «СТАРТ.Платина»
											.item__info 
												.list
													.list__li До 7000 товаров в каталог
													.list__li Доступ к готовым заявкам
													.list__li Ваши товары в каталоге будут выше товаров компаний на тарифах «Старт.Золото», «Старт.Серебро» и «Базовый»
													.list__li Помощь в загрузке и оформлении товаров
													.list__li Модули онлайн-оплаты и доставки
													.list__li SSL-сертификат

									p.fat.section_h4 В тариф «СТАРТ» входят только эффективные инструменты для продаж и продвижения:
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332844/content_povyshenie-tarif_start.png")
			section.working
				.content 
					.banners 
						.banners__task 
							.task__img 
								img.wow.pulse(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/333893/content_povyshenie-frame_1000002164.png", alt="")
							.task__block.wow.bounceInRight( data-wow-delay="0.5s")
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332868/content_povyshenie-chartbar.png", alt="") 
									.item__text Трафик 6 млн. целевых посетителей портала каждый месяц;
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332869/content_povyshenie-browsers.png", alt="") 
									.item__text До 7000 товаров в каталог;
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/333230/content_povyshenie-group_1000002143.png", alt="")
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332871/content_povyshenie-gear.png", alt="") 
									.item__text Помощь в загрузке и оформлении товаров «как надо»;
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332872/content_povyshenie-creditcard.png", alt="") 
									.item__text Настроенные модули онлайн-оплаты и доставки;
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/333230/content_povyshenie-group_1000002143.png", alt="")
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332873/content_povyshenie-shieldcheck.png", alt="") 
									.item__text Включен платный SSL-сертификат безопасности (обязателен для всех сайтов с 2021 года);
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/333230/content_povyshenie-group_1000002143.png", alt="")
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332874/content_povyshenie-browser.png", alt="") 
									.item__text Сервис готовых заявок «Закупки»;
								.block__item
									img.item__icon(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/332875/content_povyshenie-info.png", alt="") 
									.item__text Персональный менеджер поддержки.
			section.service
				.content 
					.service__title.section_h4 Успевайте продлить размещение по старой цене. Оставьте заявку своему менеджеру на Пульсе цен до 30 июня и он вам перезвонит.
					+button('{crm_analytics:click_link(Заявка на продление старой цены,#casesy,network_actions,ПП_Повышение_Цен_Старт_Консультация)}', 'Заявка на продление старой цены', 'section-button')
		include ./modules/footer.pug
	p {crm_analytics:show_page(network_actions,ПП_Повышение_цен_Старт)}
