.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup1')
        .modal-block
            .modal-content.derevianko 
                p.section_h2 Компания ИП Деревянко, г. Новосибирск
                .popap_infoCompany    
                    p Направление: продажа теплиц, сотового поликарбоната, полиэтиленовой пленки (парниковой, армированной, укрывного материала), земли для рассады, снегоуборочного инвентаря и тары для консервирования. 
                .modal__task
                    .section_h3 Поставленные задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Создать сайт для продажи теплиц и товаров для сада и огорода в Новосибирске.
                        .block__item 
                            .item__icon 2
                            p Загрузить товары на сайт в короткие сроку.
                        .block__item 
                            .item__icon 3
                            p Обеспечить оптимальный трафик на сайт и положительную динамику роста.
                        .block__item 
                            .item__icon 4
                            p Обеспечить узнаваемость компании в нужных регионах (Новосибирск, Омск, Красноярск, Бердск)
                        .block__item 
                            .item__icon 5   
                            p Обеспечить регулярный поток заявок и звонков из городов Сибири.
                    .section_h3 Решение:
                    .solution__block Для решения поставленных задач подошел тариф платного продвижения «СТАРТ.Платина». Он включает готовый сайт с доступом к 3 доп.сервисам, конверсионный места в рубрике каталога, SSL-сертификат и доступ к базе готовых оптовых заявок.s
                .modal__work 
                    .section_h3 Проделанная работа
                    .work__block 
                        .work__title.fat.accent Сайт
                        .list
                            .list__li.list__li_gray Разработали оформление сайта в соответствии с фирменным стилем компании, требованиями юзабилити и трендами интернет-продаж.
                            .list__li.list__li_gray Подключили профессиональный протокол безопасности соединения клиента с сайтом (SSL-сертификат), необходимый по требованиям поисковых систем.
                            .list__li.list__li_gray Привязали сайт к сервисам Вебмастер Яндекс и Google для старта поисковой оптимизации.
                            .list__li.list__li_gray Подключили счетчик Яндекс Метрики для отслеживания активности посетителей, настройка целей для получения более глубоких данных.
                            .list__li.list__li_gray Заполнили информационные разделы сайта: страницы «о компании», «контакты» и «доставка и оплата».
                            .list__li.list__li_gray Создали матрицу элементов для активных действий покупателя: кнопки «заказать», «в корзину», «подробнее», «сохранить поставщика», «задать вопрос», а также тематические «выбрать теплицу».
                            .list__li.list__li_gray Регулярно проводим аналитику по сайту для улучшения пользовательских характеристик и привлекательности сайта для посетителей.
                    .work__block 
                        .work__title.fat.accent Каталог
                        .list
                            .list__li.list__li_gray Разработали удобную навигацию по группам товаров, чтобы покупателю было легче найти нужное.
                            .list__li.list__li_gray Создали структуру групп и распределили по ним 422 товара.
                            .list__li.list__li_gray Привязали товары к 83 рубрикам Пульса цен, чтобы покупатели могли быстро их находить.
                            .list__li.list__li_gray Выявили приоритетные товары и проработали их оформление и уникальные описания.
                            .list__li.list__li_gray Регулярное обновление товарного каталога, изображений, описаний и т.д.
                    .work__block 
                        .work__title.fat.accent Другое
                        .list
                            .list__li.list__li_gray На главной странице разместили витрину приоритетных товаров.
                            .list__li.list__li_gray Создали и разместили слайдер с главными товарами.
                            .list__li.list__li_gray Подключали дополнительные инструменты продвижения (оплачиваются отдельно)
                            .list__li.list__li_gray Подключили заказчика к базе готовых заказов на все регионы России — уникальная разработка Пульса цен — сервису «Закупки». Клиенты, у которых нет времени искать большой перечень товаров поштучно, загружают весь список и алгоритм автоматически подбирает поставщиков. Уведомления о заказе приходит на почту к тем компаниям, кто может закрыть сделку.
                .modal__result 
                    .section_h3 Результаты:
                    .result__chart
                        .chart__block 
                            
                            .block__item 
                                .item__offer 
                                    div За 2021 год компания получила 384 заказа и заработала 2,9 млн рублей на продаже товаров при помощи Пульса цен.
                                        
                                    div.accent Основная масса заказов поступала в период с января по апрель - это самое горячее время для реализации теплиц. В это период 2021 года на сайт компании зашло #[span.fat 13 967 ] посетителей.
                                .item__icon 
                                    .icon__item 
                                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299222/content_ellipse_29.png", alt="")
                                        p Посетители
                                    .icon__item 
                                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299221/content_ellipse_30.png", alt="")
                                        p Просмотры
                            .block__item 
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304921/content_grafik.png", alt="")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Закажите бесплатную консультацию, менеджер расскажет как успешно продавать товары на Пульсе цен.
                    +button('{crm_analytics:click_link(Заказать бесплатную консультацию,#cases,network_actions,НК_с/х_товары_Кейс-1_Консультация_curData)}', 'Заказать бесплатную консультацию', 'section-buttonAccent')

                
