/** @format */
$corporate_color: #4c84c7;
$main_text_color: #0d5490;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #f36f25;
$accentColor: #f36f25;
$forToolbar: $main_text_color;
$forFooter: #ffffff;

:root {
	--section_h1: 120px;
	--section: 80px;
	--section_h2: 60px;
	--block: 40px;
}
