/** @format */

//как использовать - main_content{@include mainContent}
.main_content {
	@include mainContent(16px, $main_text_color);
	position: relative;
}
body {
	background: #f1f4f7;
}
.main_page {
	background: #f1f4f7;
}
.blue__block {
	background: linear-gradient(85.07deg, #1e15da -61.57%, #05b3fa 108.77%);
	border-radius: 4px;
	height: 208px;
	position: absolute;
	width: 100%;
	top: -40px;
	max-width: 1366px;
}
.content-header {
	margin-top: 90px;
}

* {
	scroll-behavior: smooth;
}
.header {
	position: relative;
	z-index: 2;
}
.toolbr {
	background: #f6f5f3;
	position: fixed;
	z-index: 5;
	padding: 15px;
	box-shadow: 0px 2px 10px rgb(134 149 172 / 25%), 0px 1px 3px rgb(134 149 172 / 25%);
	top: 0;
	left: 0;
	right: 0;
	.content {
		padding: 0;
		background: #f6f5f3;
	}
}

.header__wrapper {
	@include grid(2vw, 1fr 1fr);
	padding-top: 4vw;
	.header__heading {
		line-height: 49px;
		font-weight: 700;
		max-width: 450px;
	}
	.header__btns {
		@include grid(20px, auto 1fr);
	}
	.header__img {
		img {
			max-width: 100%;
		}
	}
	.mobile__img {
		display: none;
	}
	.list {
		color: $main_text_color;
		font-size: 16px;
		margin-top: 40px;
	}
}
.offer {
	margin-top: 30px;
	max-width: 520px;
	grid-gap: 16px;
	display: grid;
}

.line {
	margin: 0px 0 0px;
	background: #e7eef4;
	max-width: 100%;
	width: 100%;
	height: 2px;
}
.line-note {
	font-weight: 700;
	display: grid;
	display: flex;
	backface-visibility: hidden;
	transform: rotateX(180deg);
}
.block__light-blue {
	background: rgba(13, 84, 144, 0.04);
	border-radius: 4px;
	font-style: italic;
	font-weight: 600;
	text-align: center;
	padding: 20px 16px;
	margin-top: var(--block);
}
.complex {
	.content {
		padding-top: var(--section);
	}
	.complex__subtitle {
		margin-top: 10px;
	}
	.complex__info {
		margin-top: var(--block);
		max-width: 650px;
	}
	.complex__about {
		margin-top: var(--block);
		@include grid(16px, repeat(auto-fit, minmax(250px, 1fr)));
		.item__heading {
			font-size: 20px;
			font-weight: 700;
		}
		.item__offer {
			margin-top: 20px;
			display: grid;
			grid-gap: 20px;
		}
	}
	.complex__people {
		@include grid(16px, repeat(auto-fit, minmax(250px, 1fr)));
		img {
			max-width: 100%;
		}
		.people__img {
			margin: 20px auto;
			text-align: center;
			display: grid;
		}
		.item__block {
			background: rgba(13, 84, 144, 0.04);
			border-radius: 4px;
			padding: 20px;
			.item__heading {
				font-weight: bold;
				font-size: 20px;
				text-align: center;
			}
			.item__icons {
				display: grid;
				grid-auto-flow: column;
				margin: 10px 0 20px;
				justify-content: start;
				grid-gap: 16px;
				align-items: center;
				justify-content: center;
			}
			.item__img {
				width: 100%;
			}
			.list__heading {
				font-weight: 700;
			}
		}
	}
}
.smart {
	.content {
		padding-top: var(--section);
		padding-bottom: var(--block);
	}
	.smart__items {
		@include grid(var(--block), repeat(auto-fit, minmax(150px, 1fr)));
		margin-top: var(--block);
		.item {
			display: grid;
			grid-gap: 8px;
			grid-template-rows: 1fr 1fr;
		}
	}

	.smart__offer {
		display: grid;
		grid-gap: 20px;
		margin: var(--block) 0;
	}
}
.footer {
	z-index: 2;
	position: relative;
	background: none;
	.content {
		margin-top: var(--block);
		padding: 0;
		background: none;
	}
	.footer__wrapper {
		@include grid(var(--block), 1.3fr 1fr);
	}
	.footer__item-left {
		padding: calc(var(--section) - 20px) calc(var(--section) - 20px);
		border-left: 10px solid #ffcd50;
		background: white;
		.footer__item-left__text {
			margin-bottom: var(--block);
			line-height: 24px;
		}
		.section-buttonAccent {
			letter-spacing: 0.1em;
		}
	}
	.footer__item-right {
		color: white;
		background: linear-gradient(296.73deg, #1d3bd9 7.65%, #1179ea 43.38%, #06b1fa 95.16%);
		border-radius: 3px;
		padding: calc(var(--section) - 20px);
		.agreement {
			opacity: 0.5;
			font-size: 12px;
		}
	}
}
.block_gey {
	background: #dce0e4;
	border-radius: 4px;
	height: 208px;
	position: absolute;
	width: 100%;
	bottom: -40px;
	max-width: 1366px;
}

@media (min-width: 1920px) {
	.header__wrapper {
		padding-top: 60px;
	}
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1024px) {
	:root {
		--section: 40px;
		--block: 24px;
	}
	.header__wrapper {
		grid-template-columns: 1fr;
		justify-items: center;
		.header__text {
			order: 2;
		}
		.header__img {
			display: none;
			justify-items: center;
			img {
				max-width: 40%;
			}
		}
		.mobile__img {
			display: block;
			max-width: 43%;
			margin: auto;
		}
	}
	.offer {
		display: grid;
		max-width: 100%;
	}
	.list__list {
		font-size: 14px;
	}
	.footer .footer__wrapper {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 800px) {
}

@media (max-width: 660px) {
	.header__wrapper {
		.header__btns {
			grid-template-columns: auto;
		}
	}
	.complex {
		.complex__people {
			margin-top: 20px;
			.people__img {
				display: none;
			}
		}
	}
}
@media (max-width: 480px) {
	.content-header {
		margin-top: 50px;
	}
	.content {
		width: 100%;
	}
	.smart {
		.smart__items {
			.item {
				justify-items: center;
			}
		}
	}
}
