<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h2 Для тех, кто готов к большим продажам
								.offer
									p Тариф «Бизнес» — это готовое решение для компаний, которые хотят больше рынков сбыта, больше клиентов и больше продаж. В нем есть все, что для этого нужно:
									img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304986/content_illyustratsiya.png")
								.list 
									.list__li Сайт с индивидуальным дизайном, удобный и понятный покупателям
									.list__li SEO-проработка под требования Яндекса и Google
									.list__li Сервисы, которые не дадут клиенту засомневаться и передумать
									.list__li Продажи в других городах без посредников и открытия филиалов
								.offer
									p.fat Что в итоге?
									p Вы получаете целевых покупателей из поисковиков, увеличиваете продажи в своем городе и других регионах на выбор. Посмотрите кейсы, которые наглядно показывают, как работает тариф.
								.section_blockColl
									+buttonLink('{crm_analytics:click_link(Посмотреть кейсы,#cases,network_actions,НК_Бизнес_Смотреть кейсы_curData)}', 'Посмотреть кейсы', 'section-buttonAccent', '#cases')
									+buttonLink('{crm_analytics:click_link(Узнать больше,#next,network_actions,НК_Бизнес_Подробнее_curData)}', 'Узнать больше', 'section-button','#next')
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304986/content_illyustratsiya.png")
			section.rascal2
				.benefits#next
					.site__sliderDg
						img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/305040/content_ellipse_225.png", alt="")
					.content 
						.benefits__title.section_h3 Чем так хорош тариф «Бизнес»
						.benefits__subtitle Выбирая «Бизнес», вы получаете комплексную проработку сайта и продаете по всей России*.
						.benefits__site.site
							div 
								.site__circleBg
									.circleBg
									.site__title.section_h3 Проработка сайта
								.list 
									.list__li Дизайнерское оформление сайта и удобный каталог, чтобы зацепить покупателей
									.list__li Грамотная SEO-проработка, чтобы понравиться поисковикам
									.list__li Модули онлайн-оплаты и расчета доставки, чтобы клиенты сразу оплачивали заказ
									.list__li Учет остатков и автообновление цен через 1С или Мой склад, чтобы информация о товарах на сайте всегда была актуальной
									.list__li Настройка Google Analytics и Яндекс.Метрики, чтобы отслеживать результаты
									.list__li Анализ и оптимизация сайта на протяжении всего периода размещения
							div.site__wrapper 
								div 
									.site__circleBg
										.circleBg
										.site__title.section_h3 Региональное продвижение
									.list 
										.list__li Безлимитный каталог товаров**, чтобы покупатели могли все заказать у вас
										.list__li Товары на лучших местах в рубриках Пульса цен в родном городе и 2-4 дополнительных регионах на выбор
										.list__li Ваши товары с пометкой «Доставка» видят клиенты еще из 214 городов РФ*, чтобы продавать по всей стране
								div 
									.site__line
									.site__end.end
										.end__subtitle *Доступно на тарифе «Бизнес.Платина».  </br>**Загрузка свыше 10 000 требует дополнительного согласования.
				.sectionSlider 
					.site__slider
							// Slider main container
							.swiper.slider-r
								// Additional required wrapper
								p.slider-r__title.fat.section_h3 Примеры сайтов на тарифе «Бизнес»
								.swiper-wrapper
									// Slides
									.swiper-slide
										img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304987/content_sayt_5.png", alt="")
									.swiper-slide
										img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304988/content_sayt_6.png", alt="")
									.swiper-slide
										img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304990/content_sayt_7.png", alt="")
									.swiper-slide
										img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304991/content_sayt_1.png", alt="")
								// If we need pagination
								.swiper-pagination
								// If we need navigation buttons
								img.button-prev(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302831/content_strelka_vlevo.png", alt="")
								img.button-next(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302833/content_strelka_vpravo.png", alt="")
								
								// If we need scrollbar
								.swiper-scrollbar
				.cases#cases 
					.content 
						.cases__wrapper
							.cases__title.section_h3 Кейсы клиентов Пульса цен на тарифе «Бизнес»
							.cases__subtitle С помощью тарифа «Бизнес» вы увеличиваете продажи в своем городе и начинаете продавать в других. Кейсы наших клиентов наглядно это показывают.
							.cases__block.block 
								.block__item
									.item__title.section_h4.fat СТРОЙКАПИТАЛ, </br> #[span.accentOrange «Бизнес. Платина» ] 
									.item__subtitle Продажа стройматериалов, грузоперевозки, г. Екатеринбург
									.item__result 
										.result__heading.fat За 2021 год:
										.result__offer 
											p #[span.fat.accentOrange 51 067]  просмотров товаров
											p #[span.fat.accentOrange 35 660] посетителей сайта
											p #[span.fat.accentOrange 446] заказов на общую сумму #[span.fat.accentOrange 22,4]  млн руб.
									+buttonEvent("{crm_analytics:click_link(Смотреть кейс полностью,#order,network_actions,НК_Бизнес_Кейс-1_curData)}", "Смотреть кейс полностью", "section-buttonAccent", "button1", "popup1")
								.block__item
									.item__title.section_h4.fat СТИЛ-УРАЛ, </br> #[span.accentOrange «Бизнес. Платина» ] 
									.item__subtitle Поставки изделий металлопроката, г.Пермь
									.item__result 
										.result__heading.fat За 2021 год:
										.result__offer 
											p #[span.fat.accentOrange 36 033]  просмотров товаров
											p #[span.fat.accentOrange 21 148] посетителей сайта
											p #[span.fat.accentOrange 215] заказов на общую сумму #[span.fat.accentOrange  10,9]  млн руб.
									+buttonEvent("{crm_analytics:click_link(Смотреть кейс полностью,#order,network_actions,НК_Бизнес_Кейс-2_curData)}", "Смотреть кейс полностью", "section-buttonAccent", "button2", "popup2")
								.block__item
									.item__title.section_h4.fat СТРОЙСНАБКОМПЛЕКТ, </br> #[span.accentOrange «Бизнес. Платина» ] 
									.item__subtitle Продажа металлопроката и стройматериалов, г. Екатеринбург
									.item__result 
										.result__heading.fat За 2021 год:
										.result__offer 
											p #[span.fat.accentOrange 28 827]  просмотров товаров
											p #[span.fat.accentOrange 19 062] посетителей сайта
											p #[span.fat.accentOrange 170] заказов на общую сумму #[span.fat.accentOrange 29,5]  млн руб.
									+buttonEvent("{crm_analytics:click_link(Смотреть кейс полностью,#order,network_actions,НК_Бизнес_Кейс-3_curData)}", "Смотреть кейс полностью", "section-buttonAccent", "button3", "popup3")
							.cases__end 
								.end__offer 
									p Сейчас действуют выгодные условия на подключение тарифа «Бизнес».
									p Наш специалист Елена Толстова ответит на ваши вопросы.
								+button('{crm_analytics:click_link(Заказать консультацию,#order,network_actions,НК_Бизнес_Консультация_curData)}', 'Заказать консультацию', 'section-buttonAccentBlue')
		include ./modules/stoyKapital.pug
		include ./modules/stilUral.pug
		include ./modules/stroySnabkomplekt.pug
		include ./modules/footer.pug
	p {crm_analytics:show_page(network_actions,НК_Бизнес_curData)}
	