/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #DB4955;
$accent2: #ffd175;
$accentColor: #DB4955;

:root {
	--section: 80px;
	--section_h0: 124px;
	--section_h2: 60px;
	--block: 40px;
}
