/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: #d7367a;
$accentColor: #d7367a;

:root {
	--section_h0: 120px;
	--section: 80px;
	--block: 40px;
}
