.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup2')
        .modal-block
            .modal-content.grandStroy.prostoZabor 
                p.section_h2 Кейс компании «Просто забор»
                .popap_infoCompany    
                    p Панель ограждения, 3D забор, ворота, калитки, мобильные ограждения в г. Екатеринбурге.
                .modal__task
                    .section_h3 Задачи:
                    .task__block 
                        .block__item.sectionHintRel 
                            .item__icon 1
                            p Запустить трафик на сайт компании с рекламных сетей Яндекса (#[span.fat.sectionHint РСЯ ])
                        .block__item 
                            .item__icon 2
                            p Продвижение отдельных товаров в регионе Урал
                        .block__item 
                            .item__icon 3
                            p Протестировать альтернативный рекламный инструмент, т.к. реклама на поиске Яндекса в этой тематике слишком дорогая
                .modal__solution 
                    .section_h3 Решение:
                    .solution__subtitle Запуск СМАРТ-баннера в #[span.fat.sectionHint РСЯ ] на 4 месяца.
                    .solution__block
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/303258/content_group_1439.png", alt="")
                .modal__result 
                    .section_h3 Результаты:
                    .result__info.info 
                        div 
                            .info__title.fat За 4 месяца:
                            .info__subtitle Количество показов  СМАРТ-баннера 238 381 раз, что составляет 75% от всего трафика на сайте в этот период.
                            .info__number 
                                p #[span.accent.fat +100% ] посетителей
                                p #[span.accent.fat +97% ] просмотров товаров
                            .info__line
                            .info__note *рост показателей рассчитан по среднему значению периода работы рекламы по отношению с периоду без рекламы.
                        div 
                            .info__title.fat Топ интернет-площадок размещения СМАРТ-баннера:
                            .info__block 
                                p Yandex.ru (главная)
                                p m.news.yandex.ru
                                p m.video.yandex.ru
                                p m.sport.yandex.ru
                                p zen.yandex.ru
                                p avito.ru
                                p Mail.ru
                                p Ura.ru
                                p Gismeteo.ru
                                p Ria.ru
                    .result__traffic.traffic
                        .traffic__title.fat Общая структура трафика на сайт:
                        .traffic__block 
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302571/content_gradcdcdcfik.png", alt="")
                            .traffic__text 
                                p #[span.accentGreen.fat 75% ] переходы по рекламе  
                                p #[span.accent2.fat 18,6% ] переходы из поисковых систем  
                                p #[span.accentRed.fat 2,7% ] переходы по прямым ссылкам
                                p #[span.accent.fat 1,9% ] прямые заходы
                                p #[span.accentFio.fat 1,7% ] остальное
                    .result__chart
                        .chart__block 
                            .block__item 
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302572/content_grdfvdfvdfvafik.png", alt="")
                            .block__item 
                                .item__offer 
                                    div
                                        p(style = ' margin-bottom: 10px;') Просмотры товаров:
                                        p до включения СМАРТ-баннера #[span.accentRed.fat 757 ]
                                        p после активации СМАРТ-баннера  #[span.accent.fat 1494 (+97%) ]
                                        
                                    div
                                        p(style = ' margin-bottom: 10px;') Посетители сайта:
                                        p до включения СМАРТ-баннера #[span.accentRed.fat 356 ]
                                        p после активации СМАРТ-баннера  #[span.accent.fat 752 (100%) ] 
                                .item__line 
                                .item__note *значения среднемесячные
                                .item__icon 
                                    .icon__item 
                                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302575/content_group_1349.png", alt="")
                                        p Посетители
                                    .icon__item 
                                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302574/content_group_1348.png", alt="")
                                        p Просмотры
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Обратитесь к своему менеджеру, он (она) расскажет подробнее о возможностях и условиях подключения СМАРТ-баннера.
                    +button('{crm_analytics:click_link(Заказать консультацию,#cases,want_orders,МР_Смарт-баннер_Консультация)}', 'Заказать консультацию', 'section-buttonAccent')    

                
