/** @format */

//как использовать - main_content{@include mainContent}
.main_content {
	@include mainContent(16px, rgb(255, 255, 255));
	position: relative;
	font-weight: 500;
	background: none;
}

* {
	scroll-behavior: smooth;
}

header {
	background: #f4faff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 60px 60px;
	color: $main_text_color;
}

.modal-content {
	max-width: 1366px;
	margin: auto;
}

.header__wrapper {
	@include grid(2vw, 1.4fr 1fr);
	padding: 150px 0 100px;
	.header__text {
		z-index: 2;
	}
	.header__img {
		display: grid;
		justify-items: right;
		img {
			max-width: 100%;
		}
	}
	.mobile__img {
		display: none;
	}
	.offer {
		margin-top: 30px;
		max-width: 560px;
		grid-gap: 36px;
		display: grid;
		z-index: 2;
	}
}
.working {
	margin: var(--section) 0;
	color: $main_text_color;
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.banners {
		margin-top: var(--section);
		.banners__block {
			margin-top: var(--block);
		}
		.block__item {
			margin-top: 46px;
			@include grid(16px, repeat(auto-fit, minmax(250px, 1fr)));
			.item {
				background: rgb(255, 255, 255);
				border-radius: 15px;
				padding: var(--block);
				display: grid;
				grid-gap: 16px;
				box-shadow: 1px 1px 7px 1px #dad6d6;
			}
			.item__img {
				display: grid;
				justify-self: center;
			}
		}
		.banners__task {
			margin-top: var(--block);
			@include grid(28px, repeat(auto-fit, minmax(250px, 1fr)));
			align-items: center;

			.list {
				grid-template-columns: 1fr;
			}
			.task__img {
				img {
					max-width: 100%;
				}
			}
		}
	}
	.cases {
		margin-top: var(--section);
		@include grid(24px, repeat(auto-fit, minmax(250px, 1fr)));
		.cases__item {
			background: rgba(216, 239, 255, 0.29);
			border-radius: 20px;
			padding: 40px 30px;
			filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
			.item__subtitle {
				margin-top: 18px;
			}
			.item__info {
				margin-top: calc(var(--block) - 10px);
				display: grid;
				grid-gap: 20px;
				margin-bottom: var(--block);
			}
		}
	}
}
.benefits {
	margin: var(--section) 0;
	color: $main_text_color;
	img {
		width: 144px;
		max-width: 100%;
	}
	.benefits__block {
		margin-top: var(--block);
		@include grid(16px, repeat(auto-fit, minmax(250px, 1fr)));
	}
	.block__item {
		background: #f4faff;
		border: 8px solid #f4faff;
		border-radius: 20px;
		padding: var(--block) var(--block);
		text-align: center;
		img {
			margin-bottom: 66px;
		}
		.item__subtitle {
			margin-top: 32px;
		}
	}
}

.service {
	margin: var(--section) 0;
	color: $main_text_color;
	.list {
		@include grid(16px, 1fr 1fr);
		margin-top: var(--block);
	}
	.service__p {
		margin-bottom: var(--block);
	}
}

.info__result_accent {
	padding: 4px 8px;
	background: #ed7a59;
	border-radius: 4px;
	color: #fff;
	margin-right: 8px;
	font-weight: 800px;
}

.line {
	margin: 0px 0 0px;
	background: #e7eef4;
	max-width: 100%;
	width: 100%;
	height: 2px;
}
.line-note {
	font-weight: 700;
	display: grid;
	display: flex;
	backface-visibility: hidden;
	transform: rotateX(180deg);
}

.sectionOffer {
	display: grid;
	grid-gap: 16px;
	margin: 24px 0;
	max-width: 1024px;
}

.modal-closeButt {
	position: relative;
}

.seifKraft {
	color: #2e3b4f;
	font-family: 'Montserrat', sans-serif;
	margin-top: var(--block);
	.accent {
		color: $corporate_color;
	}
	.offer {
		margin-top: calc(var(--block) - 10px);
		@include grid(16px, 1fr);
	}
	.section-buttonAccent {
		background: $corporate_color;
		border: 1px solid $corporate_color;
	}
	.section-buttonAccent:hover {
		background: rgba(255, 0, 0, 0);
		color: $corporate_color !important;
	}
	.popap_infoCompany {
		margin-top: 10px;
	}
	.modal__solution,
	.modal__task,
	.modal__result,
	.modal__end {
		background: #ffffff;
		border: 8px solid #d8efff;
		border-radius: 40px;
		padding: var(--block) var(--section);
	}
	.modal__task {
		margin-top: 40px;

		.task__block {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
			margin-top: 16px;
			.block__item {
				@include grid(16px, auto 1fr);
				align-items: center;
			}
			.item__icon {
				width: 40px;
				height: 40px;
				background: #ed7a59;
				border-radius: 50%;
				color: white;
				display: grid;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
	.modal__solution {
		margin-top: var(--block);
		.solution__subtitle {
			position: relative;
			margin-top: 20px;
		}
		.solution__block {
			display: grid;
			grid-gap: var(--block);
			grid-auto-flow: column;
			margin-top: var(--block);
			img {
				max-width: 100%;
			}
			.block__p {
				margin-bottom: 16px;
				font-weight: 700;
			}
		}
		.solution__p {
			margin-top: calc(var(--block) - 10px);
		}
	}

	.modal__result {
		margin-top: var(--block);
		img {
			max-width: 100%;
			width: 100%;
		}
		.result__info {
			margin-top: var(--block);
			@include grid(16px, repeat(auto-fit, minmax(250px, 1fr)));

			.info__subtitle {
				margin: 20px 0;
				max-width: 360px;
			}
			.info__subtitle_colorBlue {
				color: $corporate_color;
			}
			.info__subtitle_colorOrang {
				color: #f0885b;
			}
			.info__title {
				// margin-top: 20px;
				margin-bottom: 20px;
			}
			.info__line {
				width: 200px;
				height: 2px;
				background: #2e3b4f;
				opacity: 0.2;
				margin: 26px 0 20px;
			}
			.info__note {
				color: #2e3b4f;
				opacity: 0.5;
			}
			.info__block {
				margin-top: 24px;
				display: grid;
				grid-auto-flow: column;
				grid-gap: 24px;
			}
			.info__number {
				display: grid;
				grid-gap: 16px;
			}
		}
		.result__traffic {
			margin-top: var(--section);
			background: #f5f5f5;
			border-radius: 40px;
			padding: var(--block);
			display: grid;
			justify-content: center;
			.traffic__title {
				text-align: center;
			}
			.traffic__block {
				@include grid(var(--section), auto 1fr);
				margin-top: 20px;
				align-items: center;

				img {
					max-width: 224px;
				}
			}
			.traffic__text {
				display: grid;
				grid-gap: 10px;
			}
		}
		.result__chart {
			.chart__block {
				@include grid(32px, 1fr 1fr);
			}
			img {
				max-width: 100%;
			}
			.item__img {
				max-width: 560px;
				width: 100%;
			}
			margin-top: var(--section);
			.block__item {
				.item__offer {
					display: grid;
					grid-gap: 20px;
					padding-top: 42px;
				}
				.item__line {
					width: 230px;
					height: 2px;
					background: #2e3b4f;
					opacity: 0.2;
					margin: var(--block) 0 20px;
				}
				.item__subtitle {
					margin: 20px 0;
				}
				.item__note {
					color: #2e3b4f;
					opacity: 0.5;
				}
				.item__icon {
					@include grid(20px, auto 1fr);
					margin-top: var(--block);
					img {
						width: 20px;
					}
					.icon__item {
						@include grid(10px, auto 1fr);
						align-items: center;
					}
				}
			}
		}
	}

	.modal__end {
		margin-top: var(--block);
		.end__subtitle {
			margin: var(--block) 0;
		}
	}
	.blockBlueSmall {
		background: #f4faff;
		border-radius: 10px;
		padding: 24px 18px;
		.blockBlueSmall__grid {
			display: grid;
			grid-template-rows: 0.15fr 1fr;
			align-items: self-end;
			grid-gap: 16px;
			img {
				max-width: 200px;
			}
		}
	}
}

.vrednosti {
	max-width: 70%;
}
.vrednostiTop {
	margin-top: 24px;
}

@media (min-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
	.header__wrapper {
		.header__img img {
			max-width: 78%;
		}
	}
}

@media (max-width: 1024px) {
	:root {
		--section: 40px;
		--block: 24px;
	}
	.header__wrapper {
		display: grid;
		grid-template-columns: 1.8fr 1fr;
		grid-gap: 2vw;
		padding: 60px 0;
	}
	.header__wrapper {
		grid-template-columns: 1fr;
		justify-items: center;
		.header__text {
			order: 2;
		}
		.header__img {
			display: none;
			justify-items: center;

			img {
				max-width: 40%;
			}
		}
		.mobile__img {
			display: block;
			max-width: 43%;
			margin: auto;
		}
	}
	.offer {
		display: grid;
		max-width: 100%;
	}
	.grandStroy {
		.modal__solution {
			.solution__block {
				grid-template-columns: 1fr 1fr;
			}
		}
		.modal__result {
			.result__info {
				grid-template-columns: 1fr;
			}
			.result__traffic {
				justify-items: baseline;
				justify-content: inherit;
				.traffic__block {
					grid-template-columns: auto;
					justify-items: center;
					width: 100%;
				}
				.traffic__text {
					justify-self: baseline;
				}
			}
			.result__chart {
				.chart__block {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.working {
		.banners {
			.banners__task {
				.task__img img {
					margin: auto;
					display: grid;
				}
			}
		}
	}
}

@media (max-width: 660px) {
	.service {
		.list {
			@include grid(16px, 1fr);
		}
	}
	.grandStroy .modal__solution,
	.grandStroy .modal__task,
	.grandStroy .modal__result {
		padding: var(--block) 20px;
	}
}
@media (max-width: 480px) {
	.grandStroy .modal__result .result__chart .block__item .item__icon {
		grid-template-columns: auto;
	}
}
