<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h1 Благодарим за обращение!
								img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317204/content_frame_1595.png")
								.offer
									p Ваш личный менеджер перезвонит и расскажет подробнее о мерах поддержки бизнеса от Пульса цен
									
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/317204/content_frame_1595.png")
		include ./modules/footer.pug
	p {crm_analytics:show_page(network_actions,ПП_Предложениея_отвалам)}
