.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup2')
        .modal-block
            .modal-content.derevianko 
                p.section_h2 СТИЛ-УРАЛ,   #[span.accentOrange «Бизнес. Платина» ] 
                .popap_infoCompany    
                    p Поставки изделий металлопроката, г.Пермь  
                .modal__task
                    .section_h3 Поставленные задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Доработать оформление сайта
                        .block__item 
                            .item__icon 2
                            p Скорректировать структуру каталога и оформление товаров
                        .block__item 
                            .item__icon 3
                            p Увеличить количество покупателей в родном регионе
                        .block__item 
                            .item__icon 4
                            p Расширить географию продаж
                    .section_h3 Решение:
                    .solution__block Подключен тариф «Бизнес.Платина». В него входит размещение товаров на «Платине» в 4 дополнительных городах для увеличения охвата рынка. Кроме этого, товары видят клиенты еще из 214 городов России с пометкой «Доставка».
                .modal__work 
                    .section_h3 Проделанная работа
                    .work__block 
                        .work__title.fat.accent Сайт
                        .list
                            .list__li.list__li_gray Провели анализ всех страниц и метрик сайта
                            .list__li.list__li_gray Доработали дизайн сайта
                            .list__li.list__li_gray Создали структура сайта с удобной навигацией и юзабилити
                            .list__li.list__li_gray Добавили Турбо-страницы (облегченные версии страниц сайта), которые быстро загружаются даже с медленным интернетом, и покупатель может оформить товар
                            .list__li.list__li_gray Разработали дополнительные страницы «Цветной прокат», «Нержавеющий прокат» с преимуществами заказа в компании (УТП) и формой быстрой заявки
                            .list__li.list__li_gray Создали страницы с адресами филиалов компании в других городах
                            .list__li.list__li_gray Скорректировали раздел «Доставка»
                            .list__li.list__li_gray Разработали дизайн слайдера с главными товарами
                            .list__li.list__li_gray Разработали дизайн витрины приоритетных товаров
                            .list__li.list__li_gray Настроили аналитику и цели в Яндекс.Метрике
                            .list__li.list__li_gray Регулярно проводится глубокий анализ сайта и его результатов
                    .work__block 
                        .work__title.fat.accent Товары
                        .list
                            .list__li.list__li_gray Разместили товары на повышенных позициях в дополнительных регионах
                            .list__li.list__li_gray Увеличили товарную массу почти в 2 раза (с 38 000 до 71 000)
                            .list__li.list__li_gray Написали продающие описания, заполнили все характеристики товаров
                .modal__result 
                    .section_h3 Результаты:
                    .result__chart
                        .chart__block 
                            
                            .block__item 
                                .item__offer 
                                    div За 2021 год компания получила  #[span.accent.fat 215 ] заказов с Пульса цен на общую сумму #[span.accent.fat 10,9 ] млн рублей. Из них:
                                        
                                    div.offer__grid 
                                        p #[span.accent.fat 24 ] через обратный звонок
                                        p #[span.accent.fat 146 ]  через корзину на сайте
                                        p #[span.accent.fat 45 ]  через сообщения
                                    div.offer__grid
                                        p Общее количество посетителей за год составило - #[span.accent.fat 21 148 ]
                                        p Общее количество просмотров товаров за год  - #[span.accent.fat 36 033 ]
                            .block__item 
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304984/content_grafik_1.png", alt="")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Закажите бесплатную консультацию, менеджер расскажет, как успешно продавать товары на Пульсе цен.
                    +button('{crm_analytics:click_link(Заказать бесплатную консультацию,#cases,network_actions,НК_Бизнес_Кейс-2_консультация_curData)}', 'Заказать бесплатную консультацию', 'section-buttonAccent')

                
