.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup1')
        .modal-block
            .modal-content.derevianko 
                p.section_h2 СТРОЙКАПИТАЛ,   #[span.accentOrange «Бизнес. Платина» ] 
                .popap_infoCompany    
                    p Продажа стройматериалов, грузоперевозки, г. Екатеринбург.  
                .modal__task
                    .section_h3 Поставленные задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Доработать оформление сайта и товаров
                        .block__item 
                            .item__icon 2
                            p Увеличить трафик в родном городе
                        .block__item 
                            .item__icon 3
                            p Подключить трафик из соседних регионов роста.
                    .section_h3 Решение:
                    .solution__block Изменить тариф на «Платину.Бизнес», чтобы продавать в родном городе и 4 дополнительных городах на повышенном тарифе.
                .modal__work 
                    .section_h3 Проделанная работа
                    .work__block 
                        .work__title.fat.accent Сайт
                        .list
                            .list__li.list__li_gray Перевели сайт на безопасный протокол https (подключен SSL-сертификат)
                            .list__li.list__li_gray Провели общий анализ сайта: существующий трафик, поведенческие факторы посетителей, оценка дизайна с точки зрения удобства пользования
                            .list__li.list__li_gray Создали дополнительные страницы
                            .list__li.list__li_gray Разработали продающие формулировки (УТП)
                            .list__li.list__li_gray Разработали дизайн товарных групп
                            .list__li.list__li_gray Подключили турбостраницы, которые быстро загружаются и соответствуют требованиям Яндекса
                            .list__li.list__li_gray Сделали слайдер с топовыми товарами компании
                            .list__li.list__li_gray Настроили аналитику и цели в Яндекс.Метрике
                    .work__block 
                        .work__title.fat.accent Товары
                        .list
                            .list__li.list__li_gray Разместили товары на повышенных позициях в городах Екатеринбург, Пермь, Тюмень, Челябинск
                            .list__li.list__li_gray Создали информативные и качественные описания, характеристики для товаров из каталога
                            .list__li.list__li_gray Прописали названия товаров и групп в соответствие с поисковыми запросами
                            .list__li.list__li_gray Добавили фото для товаров без изображений
                            .list__li.list__li_gray Размножили товары с перечислением в названиях
                            .list__li.list__li_gray Прописали минимальный объем заказа
                .modal__result 
                    .section_h3 Результаты:
                    .result__chart
                        .chart__block 
                            
                            .block__item 
                                .item__offer 
                                    div За 2021 год компания получила  #[span.accent.fat 446 ] заказов с Пульса цен на общую сумму #[span.accent.fat 22,4 ] млн рублей. Из них:
                                        
                                    div.offer__grid 
                                        p #[span.accent.fat 70 ] через обратный звонок
                                        p #[span.accent.fat 329 ]  через корзину на сайте
                                        p #[span.accent.fat 47 ]  через сообщения
                                    div.offer__grid
                                        p Общее количество посетителей за год составило - #[span.accent.fat 35 660 ]
                                        p Общее количество просмотров товаров за год  - #[span.accent.fat 51 067 ]
                            .block__item 
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304983/content_grafik.png", alt="")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Закажите бесплатную консультацию, менеджер расскажет, как успешно продавать товары на Пульсе цен.
                    +button('{crm_analytics:click_link(Заказать бесплатную консультацию,#cases,network_actions,НК_Бизнес_Кейс-1_консультация_curData)}', 'Заказать бесплатную консультацию', 'section-buttonAccent')

                
