.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup1')
        
        .modal-block
            .modal-content 
                p.section_h2 Кейс компании строительных материалов
                .popap_infoCompany    
                    p ДИОНИКС, г. Новосибирск
                    p Продажа сырья для производства ЛКМ, сухих строительных смесей, пластмасс, абразивных и прочих материалов.
                .popap_infoCompany    
                    p 10 лет компания размещает свои товары в каталоге Пульса цен С 2019 года подключен платный тариф «Старт.Серебро».
                .block_task.task 
                    p.section_h3 Поставленные задачи:
                    .list
                        .list__li.list__li_1 Создать продающий сайт, проработать оформление всех страниц и каталога. 
                        .list__li.list__li_2 Наладить и стабилизировать трафик на сайт, обеспечить динамику роста.
                        .list__li.list__li_3 Обеспечить регулярный поток заявок и звонков из Новосибирска и других регионов. 
                        .list__li.list__li_4 Обеспечить узнаваемость компании в регионе Новосибирска.
                    .task__item 
                        p.section_h3 Решение:
                        .list
                            .list__li_gray К основному тарифу «Серебро» подключить услуги по проработке сайта «Мегасайт. Дизайн» и «Мегасайт. Профи».
                            .list__li_gray Настроить и запустить контекстную рекламу в Яндексе на основные группы товаров.
                .block_task.task 
                    p.section_h3 Проделанная работа
                    .task__item 
                        p.heading_blue Сайт
                        .list
                            .list__li_gray Разработали индивидуального дизайна в соответствии с фирменным стилем компании, требованиями юзабилити и трендами интернет-продаж. 
                            .list__li_gray Разработали индивидуального дизайна в соответствии с фирменным стилем компании, требованиями юзабилити и трендами интернет-продаж.
                            .list__li_gray Проработка навигация по страницам сайта.
                            .list__li_gray Проработка каталога: удобная навигация, создание групп товаров и распределение товаров по ним.
                            .list__li_gray Подключение протокола безопасности соединения ПК клиента с сайтом (SSL-сертификат). Нужно для защиты данных пользователя, положительно влияет на ранжирование сайта (Яндекс за безопасность).
                            .list__li_gray Наполнены информационные разделы сайта: страницы «о компании», «контакты» и «доставка и оплата», сквозной блок с преимуществами компании.
                            .list__li_gray Создана матрица конверсионных элементов для активных действий покупателя: кнопки «заказать», «в корзину», «заказать звонок», «написать нам» и тд.
                            .list__li_gray Подключен счетчик Яндекс Метрики для отслеживания активности посетителей и настройка целей.
                            .list__li_gray Регулярная аналитика по сайту, для улучшения пользовательских характеристик.
                    .task__item 
                        p.heading_blue Товары
                        .list
                            .list__li_gray Загрузили товарную массу: 80 позиций. 
                            .list__li_gray Привязали товары к рубрикам Пульса цен, чтобы покупатели могли быстро их находить.
                            .list__li_gray Проработали их оформление и уникальное описание. 
                            .list__li_gray Сделали SEO-оптимизацию товаров, проработали метатеги (title и H1).
                            .list__li_gray Настроили регулярное обновление товарного каталога, изображений, описаний и т.д. Добавление товаров в каталог. 
                            .list__li_gray Разработали онлайн-калькулятор расчета стоимости нужного объема сырья. 
                    .task__item 
                        p.heading_blue Другое
                        .list
                            .list__li_gray На главной странице разместили витрину приоритетных товаров.  
                            .list__li_gray Создали и разместили привлекательный слайдер с главными товарами. 
                            .list__li_gray Подключили выделенный телефонный номер для оценки звонков и возможности допродажи не дозвонившимся клиентам.
                            .list__li_gray Подключили заказчика к базе готовых заказов на все регионы России — уникальная разработка Пульса цен — сервису «Закупки». Клиенты, у которых нет времени искать большой перечень товаров поштучно, загружают весь список и алгоритм автоматически подбирает поставщиков. Уведомления о заказе приходит на почту к тем компаниям, кто может закрыть сделку.
                            .list__li_gray Подключили рекламный баннер на Пульсе цен в сервисе «Витрина». 
                .block_task.result#result
                    .result__item 
                        p.section_h3 Результаты
                        p.result__subtitle За 2021 год компания получила 534 заказа с Пульса цен на общую сумму 2,6 млн. рублей. Из них:
                        .result__offer 
                            p #[span.accent.fat 462 ] заказа с сайта Дионикс на Пульсе цен
                            p #[span.accent.fat 40 ] сообщений в мессенджер
                            p #[span.accent.fat 32 ] заявки по телефону
                        .result__offer 
                            p Общее количество посетителей за год составило #[span.accent.fat  17 093 ]  покупателей
                            p Общее количество просмотров за год #[span.accent.fat 31 347 ] товаров
                        .result__note 
                            .result__noteItem
                                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299222/content_ellipse_29.png", alt="")
                                p посетители
                            .result__noteItem
                                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299221/content_ellipse_30.png", alt="")
                                p просмотры
                    .result__item
                        img.result_graphic(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299665/content_grafik.png", alt="")
                .block_end.end
                    p.section_h3 Хотите так же?
                    .end__offer    
                        p Успевайте подготовить компанию к сезону высоких продаж. </br> До 31 января действуют специальные условия на тарифы платного продвижения. 
                        p Закажите бесплатную консультацию у специалиста Пульс цен, он ответит на все вопросы.
                    +button("{crm_analytics:click_link(Заказать консультацию,#order,network_actions,НК_Оставить_товары_Консультация_curData)}", "Заказать консультацию", "section-buttonAccent")   