.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup1')
        .modal-block
            .modal-content.grandStroy 
                p.section_h2 Кейс компании ООО «ГрандСтрой»
                .popap_infoCompany    
                    p Продажа и доставка сыпучих материалов в Екатеринбурге и Свердловской области.
                .modal__task
                    .section_h3 Задачи:
                    .task__block 
                        .block__item 
                            .item__icon 1
                            p Продвижение товарной группы
                        .block__item 
                            .item__icon 2
                            p Увеличение трафика с Яндекса на сайт
                .modal__solution 
                    .section_h3 Решение:
                    .solution__block
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302563/content_image5_1.png", alt="")
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302564/content_image5_2.png", alt="")
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302565/content_image5_3.png", alt="")
                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302566/content_image5_4.png", alt="")
                .modal__result 
                    .section_h3 Результаты
                    .result__info.info 
                        div 
                            .info__title.fat За 6 месяцев
                            .info__subtitle Количество показов  156 607, из них 122 623 (78,3%) приходится на СМАРТ-баннер.
                            .info__number 
                                p #[span.accent.fat +137% ] посетителей
                                p #[span.accent.fat +135% ] просмотров товаров
                            .info__line
                            .info__note *рост показателей рассчитан по среднему значению периода работы рекламы по отношению к периоду без рекламы.
                        div 
                            .info__title.fat Топ интернет-площадок размещения СМАРТ-баннера:
                            .info__block 
                                p Yandex.ru (главная)
                                p m.news.yandex.ru
                                p m.avito.ru
                                p m.pogoda.yandex.ru
                                p zen.yandex.ru
                                p avito.ru
                                p o.yandex.ru
                                p m.avito.app
                    .result__traffic.traffic
                        .traffic__title.fat Структура трафика:
                        .traffic__block 
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302567/content_grafik.png", alt="")
                            .traffic__text 
                                p #[span.accentGreen.fat 65% ] переходы по рекламе  
                                p #[span.accent2.fat 30% ] переходы из поисковых систем  
                                p #[span.accentRed.fat 5% ] переходы по прямым ссылкам
                    .result__chart
                        .chart__block 
                            .block__item 
                                .item__title.fat Посетители сайта, 2020 и 2021 года
                                .item__subtitle На 205% выросло количество посетителей сайта после подключения СМАРТ-баннера по сравнению с аналогичным периодом за 2020 год.
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302615/content_grafik.png", alt="")
                            .block__item 
                                .item__title.fat Просмотры товаров, 2020 и 2021 года
                                .item__subtitle На 190% выросло количество просмотров товаров  после подключения СМАРТ-баннера по сравнению с аналогичным периодом за 2020 год.
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/302569/content_grafinnk.png", alt="")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Обратитесь к своему менеджеру, он (она) расскажет подробнее о возможностях и условиях подключения смарт-баннера.
                    +button('{crm_analytics:click_link(Заказать консультацию,#cases,network_actions,НК_Оставить_товары_Консультация_curData)}', 'Заказать консультацию', 'section-buttonAccent')

                
