.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup3')
        .modal-block
            .modal-content.derevianko 
                p.section_h2 СТРОЙСНАБКОМПЛЕКТ,   #[span.accentOrange «Бизнес. Платина» ] 
                .popap_infoCompany    
                    p Продажа металлопроката и стройматериалов, г. Екатеринбург  
                .modal__task
                    .section_h3 Поставленные задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Расширении географии продаж
                        .block__item 
                            .item__icon 2
                            p Увеличение доли рынка
                        .block__item 
                            .item__icon 3
                            p Добавление на сайт новых позиций и корректировка описаний уже загруженных товаров
                    .section_h3 Решение:
                    .solution__block Подключен тариф «Бизнес.Платина»
                .modal__work 
                    .section_h3 Проделанная работа
                    .work__block 
                        .work__title.fat.accent Сайт
                        .list
                            .list__li.list__li_gray Перевели сайт на безопасный протокол https (подключен SSL-сертификат)
                            .list__li.list__li_gray Провели общий анализ сайта: существующий трафик, поведенческие факторы посетителей, оценка дизайна с точки зрения удобства пользования
                            .list__li.list__li_gray Разработали дополнительную страницу  «Наши отгрузки» с реальными примерами поставок, которая постоянно обновляется. Реальные примеры вызывают доверие клиентов
                            .list__li.list__li_gray Создали «Калькулятор металла» с удобной формой расчета стоимости и объема поставки
                            .list__li.list__li_gray Изменили дизайн сайта
                            .list__li.list__li_gray Создали структура сайта с удобной навигацией и юзабилити
                            .list__li.list__li_gray Разработали дизайн баннера для главной страницы
                            .list__li.list__li_gray Создали дизайн витрины приоритетных товаров
                            .list__li.list__li_gray Настроили аналитику и цели в Яндекс.Метрике
                            .list__li.list__li_gray Регулярно проводится глубокий анализ сайта и его результатов
                    .work__block 
                        .work__title.fat.accent Товары
                        .list
                            .list__li.list__li_gray Разместили товары на повышенных позициях в дополнительных регионах
                            .list__li.list__li_gray Внесли правки в распределение товаров по группам
                            .list__li.list__li_gray Внесли и оформили новые товары в каталог (количество выросло с 200 до 45 000)
                            .list__li.list__li_gray Добавили фото для товаров без изображений
                            .list__li.list__li_gray Поправили названия, описание и характеристики у уже размещенных товаров
                            .list__li.list__li_gray Прописали минимальный объем заказа
                .modal__result 
                    .section_h3 Результаты:
                    .result__chart
                        .chart__block 
                            
                            .block__item 
                                .item__offer 
                                    div За 2021 год компания получила  #[span.accent.fat 170 ] заказов с Пульса цен на общую сумму #[span.accent.fat 29,5 ] млн рублей. Из них:
                                        
                                    div.offer__grid 
                                        p #[span.accent.fat 35 ] через обратный звонок
                                        p #[span.accent.fat 105 ]  через корзину на сайте
                                        p #[span.accent.fat 30 ]  через сообщения
                                    div Компании пришлось увеличить штат сотрудников для оперативного приема и обработки заявок.
                                    div.offer__grid
                                        p Общее количество посетителей за год составило - #[span.accent.fat 19 062 ]
                                        p Общее количество просмотров товаров за год  - #[span.accent.fat 28 827 ]
                            .block__item 
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/304982/content_group_1522.png", alt="")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Закажите бесплатную консультацию, менеджер расскажет, как успешно продавать товары на Пульсе цен.
                    +button('{crm_analytics:click_link(Заказать бесплатную консультацию,#cases,network_actions,НК_Бизнес_Кейс-3_консультация_curData)}', 'Заказать бесплатную консультацию', 'section-buttonAccent')

                
